---
import Layout from '@layouts/Layout.astro';
import Card from '@components/Card.astro';
import SearchModal from '@components/SearchModal.svelte';
import Lens from '@components/icons/Lens.astro';
import { getCollection, type CollectionEntry } from 'astro:content';

const movements: CollectionEntry<'movements'>[] =
	await getCollection('movements');

const searchOptions = movements.map((movement) => ({
	title: movement.data.title,
	material: movement.data.material,
	category: movement.data.category,
	href: `/movimientos/${movement.slug}`,
}));

const pageTitle = 'Guía Completa de Ejercicios de Cross Training';
const pageDescription =
	'Descubre todo sobre los ejercicios clave del cross training. Aprende la técnica correcta, músculos trabajados, materiales necesarios y consejos prácticos para optimizar tu entrenamiento. Perfecto para atletas que buscan mejorar su rendimiento y evitar lesiones.';
---

<Layout title={pageTitle} description={pageDescription}>
	<main class="flex flex-col gap-8 max-w-5xl mx-auto px-4 py-20">
		<section class="flex flex-col gap-4 items-center mb-8">
			<h1
				class="font-bold text-6xl
				 tracking-tighter font-inter text-neutral-100 text-balance text-left md:text-center"
			>
				Guía completa de movimientos de <span class="text-accent-50"
					>Cross Training</span
				>
			</h1>
			<p class="text-xl text-neutral-400">
				Explora, aprende y domina los movimientos esenciales del cross training.
			</p>
		</section>
		<section class="w-full mb-8">
			<div class="relative">
				<button
					id="search-button"
					class="w-full text-left text-neutral-400 hover:text-neutral-300 p-4 pe-12 border rounded-md border-neutral-800 bg-neutral-700/20 block hover:bg-neutral-600/40"
				>
					<span>Busca por movimiento, categoría o material...</span>
					<div
						class="absolute inset-y-0 right-0 flex items-center pr-4 text-white"
					>
						<Lens className="size-4" />
					</div>
				</button>
			</div>
		</section>
		<section>
			<h2 class="text-2xl font-bold text-white mb-4">
				Movimientos más buscados
			</h2>
			<ul class="grid grid-cols-1 gap-4 sm:grid-cols-2 lg:grid-cols-3">
				{
					movements.map((movement) => (
						<li>
							<Card
								href={`/movimientos/${movement.slug}`}
								title={movement.data.title}
								movement={movement}
							/>
						</li>
					))
				}
			</ul>
		</section>
	</main>
	<SearchModal searchOptions={searchOptions} client:visible />
</Layout>

<script>
	const searchButton = document.querySelector('#search-button');

	searchButton?.addEventListener('click', () => {
		const searchModal = document.querySelector('dialog');
		searchModal?.showModal();
	});
</script>

<style></style>
