---
import Layout from '@layouts/Layout.astro';
import Card from '@components/Card.astro';
import SearchBar from '@components/SearchBar.astro';
import Lens from '@components/icons/Lens.astro';
import { getCollection, type CollectionEntry } from 'astro:content';

const movements: CollectionEntry<'movements'>[] =
	await getCollection('movements');

const searchResults = movements.map((movement) => ({
	title: movement.data.title,
	href: `/movements/${movement.slug}`,
}));

const pageTitle = 'Guía Completa de Ejercicios de Cross Training';
const pageDescription =
	'Descubre todo sobre los ejercicios clave del cross training. Aprende la técnica correcta, músculos trabajados, materiales necesarios y consejos prácticos para optimizar tu entrenamiento. Perfecto para atletas que buscan mejorar su rendimiento y evitar lesiones.';
---

<Layout title={pageTitle} description={pageDescription}>
	<main class="flex flex-col gap-8 max-w-5xl mx-auto px-4 py-8">
		<section class="flex flex-col gap-4 items-center mb-8">
			<h1
				class="text-5xl font-bold text-white text-balance text-left md:text-center"
			>
				Guía completa de movimientos de <span class="text-blue-500"
					>Cross Training</span
				>
			</h1>
			<p class="text-xl text-gray-400">
				Explora, aprende y domina los movimientos esenciales del cross training.
			</p>
		</section>
		<!-- <section class="w-full mb-8">
			<div class="relative">
				<button
					id="search-button"
					class="w-full text-left text-gray-400 p-4 pe-12 border rounded-md focus:border-slate-600 focus:ring-2 focus:ring-slate-600 border-slate-800 bg-slate-800/20 block focus:outline-slate-600"
				>
					<span>Busca tu ejercicio...</span>
					<div
						class="absolute inset-y-0 right-0 flex items-center pr-4 text-white"
					>
						<Lens className="size-4" />
					</div>
				</button>
			</div>
		</section> -->
		<section>
			<h2 class="text-2xl font-bold text-white mb-4">
				Movimientos más buscados
			</h2>
			<ul class="grid grid-cols-1 gap-4 sm:grid-cols-2 lg:grid-cols-3">
				{
					movements.map((movement) => (
						<li>
							<Card
								href={`/movements/${movement.slug}`}
								title={movement.data.title}
								movement={movement}
							/>
						</li>
					))
				}
			</ul>
		</section>
	</main>
</Layout>

<script>
	const searchButton = document.querySelector('#search-button');

	searchButton?.addEventListener('click', () => {
		const searchModal = document.querySelector('dialog');
		searchModal?.showModal();
	});
</script>

<style></style>
