---
import type { CollectionEntry } from 'astro:content';
import ArrowRight from '@components/icons/ArrowRight.astro';
import Barbell from '@components/icons/Barbell.astro';
import Target from '@components/icons/Target.astro';
import Badge from '@components/Badge.astro';

interface Props {
	title: string;
	movement: CollectionEntry<'movements'>;
	href: string;
}

const { href, title, movement } = Astro.props;
---

<a href={href}>
	<div
		class="p-6 h-full bg-transparent border border-neutral-800 rounded-md shadow-md hover:shadow-lg text-white flex flex-col gap-4 hover:bg-neutral-800/20 shadow-neutral-800/20"
	>
		<h3 class="text-2xl font-extrabold font-inter">
			{title}
		</h3>
		<div class="flex gap-2 flex-wrap">
			<Badge
				className="bg-secondary-50/10 text-secondary-50 border border-secondary-50/20"
			>
				<Target className="size-4" />{movement.data.category}
			</Badge>
			<Badge
				className="bg-tertiary-50/10 text-tertiary-50 border border-tertiary-50/20"
			>
				<Barbell className="size-4" />{movement.data.material[0]}
			</Badge>
		</div>
		<p class="text-gray-400 text-sm">
			{movement.data.description}
		</p>
		<span
			class="inline-flex items-center gap-2 group text-accent-50 leading-none mt-auto max-w-max"
		>
			Ver Movimiento
			<ArrowRight
				className="group-hover:translate-x-1 transition-transform duration-150"
			/>
		</span>
	</div>
</a>
