---
import type { CollectionEntry } from 'astro:content';
import ArrowRight from '@components/icons/ArrowRight.astro';
import Barbell from '@components/icons/Barbell.astro';
import Target from '@components/icons/Target.astro';
import Badge from '@components/Badge.astro';

interface Props {
	title: string;
	movement: CollectionEntry<'movements'>;
	href: string;
}

const { href, title, movement } = Astro.props;
---

<a href={href}>
	<div
		class="p-6 h-full bg-transparent border border-slate-800 rounded-md shadow-md hover:shadow-lg text-white flex flex-col gap-4 hover:bg-slate-800/20"
	>
		<h3 class="text-2xl font-bold">
			{title}
		</h3>
		<div class="flex gap-2 flex-wrap">
			<Badge
				className="bg-indigo-500/10 text-indigo-400 border border-indigo-500/20"
			>
				<Target className="size-4" />{movement.data.category.id}
			</Badge>
			<Badge
				className="bg-amber-500/10 text-amber-400 border border-amber-500/20"
			>
				<Barbell className="size-4" />{movement.data.material[0].id}
			</Badge>
		</div>
		<p class="text-gray-400 text-sm">
			{movement.data.description}
		</p>
		<span
			class="inline-flex items-center gap-2 group text-white leading-none mt-auto"
		>
			Ver Movimiento
			<ArrowRight
				className="group-hover:translate-x-1 transition-transform duration-150"
			/>
		</span>
	</div>
</a>
