---
import NavigationBar from '@components/NavigationBar.astro';
import '@fontsource-variable/inter';
interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
const url = Astro.url;
---

<!doctype html>
<html lang="es-ES">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<!-- <link rel="icon" type="image/svg+xml" href="/favicon.svg" /> -->
		<meta name="generator" content={Astro.generator} />
		<link rel="sitemap" href="/sitemap-index.xml" />

		<link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="shortcut icon" href="/favicon.ico" />
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
		<meta name="apple-mobile-web-app-title" content="CT Wiki" />
		<link rel="manifest" href="/site.webmanifest" />

		<!-- Facebook Meta Tags -->
		<meta property="og:url" content={url} />
		<meta property="og:type" content="website" />
		<meta property="og:title" content={title} />
		<meta property="og:description" content={description} />
		<meta property="og:image" content="/crosstraining-wiki-og-image.png" />

		<!-- Twitter Meta Tags -->
		<meta name="twitter:card" content="summary_large_image" />
		<meta property="twitter:domain" content="crosstraining.wiki" />
		<meta property="twitter:url" content={url} />
		<meta name="twitter:title" content={title} />
		<meta name="twitter:description" content={description} />
		<meta name="twitter:image" content="/crosstraining-wiki-og-image.png" />

		<title>{title}</title>
	</head>
	<body class="no-scrollbar font-satoshi bg-neutral-950">
		<!-- <div class="fixed left-0 top-0 -z-10 h-full w-full">
			<div
				class="absolute top-0 z-[-2] h-screen w-screen bg-neutral-950 bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(120,119,198,0.3),rgba(255,255,255,0))]"
			>
			</div>
		</div> -->
		<!-- <NavigationBar /> -->
		<slot />
	</body>
</html>

<style is:global>
	@font-face {
		font-family: 'Satoshi-Variable';
		src: url('../fonts/Satoshi-Variable.woff2') format('woff2');
		font-weight: 300 900;
		font-display: swap;
		font-style: normal;
	}

	@font-face {
		font-family: 'Satoshi-VariableItalic';
		src: url('../fonts/Satoshi-VariableItalic.woff2') format('woff2');
		font-weight: 300 900;
		font-display: swap;
		font-style: italic;
	}
	body:has(dialog[open]) {
		overflow: hidden;
	}
	.no-scrollbar::-webkit-scrollbar {
		display: none;
	}
</style>
